
// build:js assets/js/vendor.js
script(src="assets/js/vendor/jquery-1.10.2.min.js")
script(src="assets/js/vendor/modernizr-2.6.2.min.js")
script(src="assets/js/vendor/detectizr.min.js")
script(src="assets/js/vendor/owl.carousel.min.js")
script(src="assets/js/vendor/aos.js")
script(src="assets/js/vendor/responsive-img.min.js")
//endbuild

//build:js assets/js/custom.js
script(src="assets/js/global.js") 
script(src="assets/js/sidenav.js") 
// endbuild

script Modernizr.Detectizr.detect({detectScreen: true})

div.overlay
	div.loader
		div.loader_bar
		div.loader_bar
		div.loader_bar
		div.loader_bar
		div.loader_bar
		div.loader_ball