.sideNav
	ul
		li(class="active")
			a(href="javascript:void(0);",data-href="#invest_Container")
		li
			a(href="javascript:void(0);",data-href="#svg_Path")
		li
			a(href="javascript:void(0);",data-href="#why_Invest")
		li
			a(href="javascript:void(0);",data-href="#call_back")				
