#map {
  width: 100%;
  height: 800px; }

/* .mine{
	width: 95%;
	margin: 0.1em;
	#buttonbar{
		background-color: whitesmoke;
	}
}
#map_go {
    border: 1px solid red; 
    height: 90%; 
    position:absolute;
} */
