div.block.callback#call_back
	div.homeContainer
		h3 
			|Request a 
			span call back 
			|here!
		div.formField.clearfix
			form(method="post", action="")
				span.input.inputCustom
					input(type="text",class="inputField inputFieldCustom",id="name", name="name")
					label(for="input-4", class="inputLabel inputLabelCustom") 
						span.inputLabelContent.inputLCCustom Name
					span.error_message
				
                    
				span.input.inputCustom
					input(type="text",class="inputField inputFieldCustom numbersOnly",id="mobile", maxlength="10", name="mobile")
					label(for="input-4", class="inputLabel inputLabelCustom") 
						span.inputLabelContent.inputLCCustom Mobile No.
					span.error_message
					

				span.input.inputCustom
					input(type="email",class="inputField inputFieldCustom email",id="email", name="email")
					label(for="input-4", class="inputLabel inputLabelCustom") 
						span.inputLabelContent.inputLCCustom Email
					span.error_message
					

				span.input.inputCustom
					div.selectField
						select(name="city", id="city", class="inputField inputFieldCustom")
							option City
							option(value="mumbai") mumbai
							option(value="bangaluru") bangaluru
							option(value="delhi") delhi
							option(value="kolkata") kolkata
							option(value="chennai") chennai
					label(for="city", class="inputLabel inputLabelCustom cityLabel") 
						span.inputLabelContent.inputLCCustom City
					span.error_message

				button.submit Submit
				