.investContainer.lightBlueBg#invest_Container
  .homeContainer
    #invest-carouel.owl-carousel.owl-theme
      .items.emergingFund
        .rhsBox
          .sliderImg
            .investImg
              span.coinMan
                img(src="assets/img/coinMan.png", alt="")
              span.coinRs
              ul.graphAnimation
                li
                  .blgMoney1
                    span.blg1
                    span.rupee1
                    span.blg2
                    span.rupee2
                    span.rupee3
                    span.blg3
                    span.rupee4
                    span.rupee5
                    span.rupee6
                    span.rupee7
        .lhsBox
          h2 Kotak Emerging Equity
          h4 Invest in Emerging Leaders
          ul.mobileSlider
            li
              | The investment objective is long-term capital appreciation from equity and equity related securities, by investing predominantly in mid and small cap companies.
            li
              | These companies are either at their nascent or developing stage and are under researched.
            li
              | Although relatively volatile in the short run, small and mid-cap companies have the potential to deliver higher growth in the long term.
          ul.inspection.clearfix
            li
              span
                | Inception Date :
                span.greenText  30th March, 2017
            li
              span
                | Returns in CAGR (since inception) :
                span.greenText  19.59%*
            li
              span
                | Benchmark :
                span.greenText  S&P BSE Small & Midcap
            li
              span
                | Benchmark Return : 
                span.greenText  14.31%
        
        .links
          a.redBtn(href='#') Read more about the scheme
            span
          a.blueBtn(href='#') Invest Now
            span
      .items
        .rhsBox
          .sliderImg.sliderImg2
            img(src='assets/img/balancedFund-img.png', alt='Balance Fund')
            span.animatedLine
            span.whiteBox
            .bigClouds.balFundBigCloud
            .smallClouds.balFundSmallCloud
              span.smallCloud1
              span.smallCloud2
        .lhsBox
          h2 Kotak Balance Fund
          h4 Best of both Equity & Debt
          ul
            li
              | Kotak Balance aims to achieve growth by investing in equity and equity related instruments, balanced with income generation by investing in debt and money market instruments.
            li
              | The scheme provides capital appreciation potential of equities as well as stable returns of debt.
          ul.inspection.clearfix
            li
              span
                | Inception Date :
                span.greenText  30th March, 2017
            li
              span
                | Returns in CAGR (since inception) :
                span.greenText  19.59%*
            li
              span
                | Benchmark :
                span.greenText  S&P BSE Small & Midcap
            li
              spanse
                | Benchmark Return : 
                span.greenText  14.31%
        
        .links
          a.redBtn(href='#') Read more about the scheme
            span
          a.blueBtn(href='#') Invest Now
            span
          
      .items.incomeFundBanner
        .rhsBox.incomeFund
          .sliderImg.sliderImg3
            img(src='assets/img/incomeFund-New.png', alt='Income Fund')
            .incomeFundBigCloud
              span.bigCloud1
              span.bigCloud2
            .smallClouds.balFundSmallCloud
              span.smallCloud1
              span.smallCloud2
            .safeSound
            .moneyBagAnn
              .moneyBag1
              .moneyBag2
              .moneyBag3
              .moneyBag4
              .moneyBag5
              .moneyBag6
            .clock
              .hour
              .minute
              .second
        .lhsBox
          h2 Kotak Income Opportunities Fund
          h4 Provide higher Accrual return
          ul
            li
              | A scheme that looks for opportunities across sectors, based on performance and company potential.
            li
              | The fund manager has the flexibility to invest in a mix of large and mid-cap stocks from various sectors.
            li
              | Allocation between large caps & midcaps broadly depends on the choice of sectors, business environment & valuations.
          ul.inspection.clearfix
            li
              span
                | Inception Date :
                span.greenText  30th March, 2017
            li
              span
                | Returns in CAGR (since inception) :
                span.greenText  19.59%*
            li
              span
                | Benchmark :
                span.greenText  S&P BSE Small & Midcap
            li
              span
                | Benchmark Return : 
                span.greenText  14.31%              
        
        .links
          a.redBtn(href='#') Read more about the scheme
            span
          a.blueBtn(href='#') Invest Now
            span
      .items
        .rhsBox.taxSaverSection
          .sliderImg
            img(src='assets/img/taxSaverMan.png', alt='Tax saver Fund')
            .taxCoin
            .balanceStand
            .balTax
        .lhsBox
          h2 Kotak Tax Saver
          h4 Tax Advantage with potential equity growth
          ul
            li
              | Kotak Tax Saver aims at generating long term capital appreciation from a diversified portfolio of equity and equity related securities.
            li
              | This scheme offers a dual benefit of growth and tax savings along with income tax rebate, as permitted from time to time.
            li
              | This open ended scheme has a three year lock-in period with a portfolio diversified across sectors and market capitalization segments.
          ul.inspection.clearfix
            li
              span
                | Inception Date :
                span.greenText  30th March, 2017
            li
              span
                | Returns in CAGR (since inception) :
                span.greenText  19.59%*
            li
              span
                | Benchmark :
                span.greenText  S&P BSE Small & Midcap
            li
              span
                | Benchmark Return : 
                span.greenText  14.31%              
        
        .links
          a.redBtn(href='#') Read more about the scheme
            span
          a.blueBtn(href='#') Invest Now
            span
      .items
        .rhsBox.superChar.selectFocusImg
          .sliderImg
            img(alt='select Focus Fund', data-src-base='assets/img/', data-src='<767:select-focusOthersManMob.png, >768:select-focusOthersMan.png')
            .flyingMan
            .focusLight
            .flyingCloth
            .bigClouds
            .smallClouds
              span.smallCloud1
              span.smallCloud2
        .lhsBox
          h2 Kotak Select Focus
          h4 Focus on Selected Sectors
          ul
            li
              | Kotak Select Focus scheme aims to generate long term capital appreciation from a portfolio of equity and equity related securities, while focusing on select few sectors.
            li
              | The scheme endeavors to identify sectors that are likely to do well over the medium term and takes focus exposures to the same.
            li
              | There is no restriction on choosing the type of sectors and the portfolio is often diversified at the stock level across market capitalization.
          ul.inspection.clearfix
            li
              span
                | Inception Date :
                span.greenText  30th March, 2017
            li
              span
                | Returns in CAGR (since inception) :
                span.greenText  19.59%*
            li
              span
                | Benchmark :
                span.greenText  S&P BSE Small & Midcap
            li
              span
                | Benchmark Return : 
                span.greenText  14.31
        
        .links
          a.redBtn(href='#') Read more about the scheme
            span
          a.blueBtn(href='#') Invest Now
            span