.homeContainer
    .logo
        a(href="#")
            img(src="assets/img/logo.png", alt="Kotak AMC")
    .mainNav
        div.menuIcon
            span
                img(src="assets/img/menu_icon.jpg", alt="")
        div.nav
            ul
                li 
                    a(href="#",class="active") Emerging Equity Fund 
                li
                    a(href="#") Balanced Fund
                li
                    a(href="#") Income Opportunities Fund
                li
                    a(href="#") Tax Saver Fund
                li
                    a(href="#") Select Focus Fund
