div.weInvest.lightBlueBg#svg_Path
	div.homeContainer.pdB50.block
		h3 How do 
			span we invest
		div.pathImage
			
			
			picture
				source(srcset="assets/img/generic/path1.png" media="(min-width: 992px)")
				source(srcset="assets/img/generic/pathmobile.png" media="(max-width: 768px)")
				img(src="assets/img/generic/path1.png", alt="path")

			.pathMover
			a(href="javascript:void(0)").roundBlock.round1
				.roundElement
					img(src="assets/img/svg/investment-universe.svg", alt="investment-universe")
					span.line
						i.active Investment Universe
				.mover
				.popup
					h4 Research
					h5 Buy Side
					ul
						li Provides coverage on stocks
						li Individual analysis maintain sector model portfolios
						li The team runs large cap and midcap model portfolio
						li Regular meeting updates with management of stocks covered
						li Large-Midcap Algorithm to guide network capitalization calls
					h5 Sell side
					ul
						li 40+ brokers
						li Expands research universe
						li Tools: Reters Starmine
			a(href="javascript:void(0)").roundBlock.round2
				.roundElement
					img(src="assets/img/svg/search.svg", alt="search")
					span.line.leftBtmTooltip
						i
							span Research
				.mover
				.popup
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ipsa fugit et veritatis, laborum iure provident quae, reiciendis at expedita libero impedit labore hic amet enim laboriosam culpa veniam animi?
			a(href="javascript:void(0)").roundBlock.round3
				.roundElement
					img(src="assets/img/svg/idea-generation.svg", alt="idea-generation")
					span.line.leftBtmTooltip
						i 
							span Idea Generation
				.mover
				.popup
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ipsa fugit et veritatis, laborum iure provident quae, reiciendis at expedita libero impedit labore hic amet enim laboriosam culpa veniam animi?
			a(href="javascript:void(0)").roundBlock.round4
				.roundElement
					img(src="assets/img/svg/company-meeting.svg", alt="company-meeting")
					span.line.rightTopTooltip
						i 
							span Company meeting & Idea Discussion
				.mover
				.popup
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ipsa fugit et veritatis, laborum iure provident quae, reiciendis at expedita libero impedit labore hic amet enim laboriosam culpa veniam animi?
			a(href="javascript:void(0)").roundBlock.round5
				.roundElement
					img(src="assets/img/svg/on-going-review.svg", alt="on-going-review")
					span.line.leftBtmTooltip
						i
							span On-going Review
				.mover
				.popup
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			a(href="javascript:void(0)").roundBlock.round6
				.roundElement
					img(src="assets/img/svg/portfolio-action.svg", alt="portfolio-action")
					span.line.rightTopTooltip
						i
							span Portfolio Action
				.mover
				.popup
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ipsa fugit et veritatis, laborum iure provident quae, reiciendis at expedita libero impedit labore hic amet enim laboriosam culpa veniam animi?
			a(href="javascript:void(0)").roundBlock.round7
				.roundElement
					img(src="assets/img/svg/investment-report.svg", alt="investment-report")
					span.line.leftBtmTooltip
						i
							span Investment Report
				.mover
				.popup
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ipsa fugit et veritatis
			


			
						
			
			