div.whyInvest.lightBlueBg.block#why_Invest
	div.homeContainer
		h3 Invest through 
			span Mutual Funds?
		p Mutual Funds pool the money of many investors (its unit-holders) to invest in different securities like shares, debt, money market securities or a combination of these and each investor holds a pro-rata share of the portfolio.
		div.owl-carousel.owl-theme#whyInvest
			div(class='item', data-aos='zoom-in')
				img(src="assets/img/profManagment-icon.png", alt="Professional Management")
				h4 Professional Investment Management
				p We offer full-time high-end investment professionals, with real-time access to market information, to execute trades on cost-effective scales.
			div(class='item', data-aos='zoom-in')
				img(src="assets/img/diversification-icon.png", alt="Diversification")
				h4 Diversification
				p Invest in a broad range of securities to minimize your investment risk occurring by a possible decline in the value of any one or more securities.
			div(class='item', data-aos='zoom-in')
				img(src="assets/img/lowCost-icon.png", alt="Low Cost")
				h4 Low Cost
				p Mutual fund lets you participate in a diversified portfolio with a no-load fund and you can pay very little or no sales charges at all.
			div(class='item', data-aos='zoom-in')
				img(src="assets/img/convienceFlex-icon.png", alt="Convenience Flexibility")
				h4 Convenience and Flexibility
				p Fund managers decide what securities to trade, collect the interest payments, check portfolio dividends and exercise your rights aptly. Enjoy the benefits of diversified portfolio even with just one security.
			div(class='item', data-aos='zoom-in')
				img(src="assets/img/liquidity-icon.png", alt="Liquity")
				h4 Personal Service
				p One call puts you in touch with a specialist who can provide you with personal assistance in buying and selling your fund units, provide information about your account status and investment.
			div(class='item', data-aos='zoom-in')
				img(src="assets/img/personalService-icon.png", alt="Personal Service")
				h4 Liquidity & Transparency
				p Mutual funds can be easily liquidated at any given point of time. Additional, you get regular information on your investment value along with disclosure on specific investments made by the mutual fund scheme.