 footer{
	padding: 1rem 0;
	border-top: 1px solid #f0f3f8;
	.leftPull{
		width: 30%;
		float: left;
	}
	.rightPull{
		width: 70%;
		float: right;
		p{
			font-size: 1.2rem;
			font-weight: 400;
			padding: 0.8rem 0;
			text-align: right; 
			color: $grey;
		}
	}
	@media#{$small-only}{
		.leftPull,.rightPull{
			float: none;
			width: 100%;
			text-align: center; 
			p{
				text-align: center;   
			}
		}
	}
	
}